[user]
	name = Evan Lucas
	email = evan.lucas@hattiesburgclinic.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = true
[https]
	sslVerify = false
[alias]
	c = commit
	s = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status -sb
  fup = log --since '1 day ago' --oneline --author "evan.lucas@hattiesburgclinic.com"
  cl = clone
  br = branch
  dc = diff --cached

[help]
	autocorrect = 1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
