[user]
	name = Evan Lucas
	email = evanlucas@me.com
[core]
	excludesfile = ~/.gitignore
	editor = vim
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = true
[https]
	sslVerify = false
[push]
	default = simple
[alias]
	c = commit
	s = status
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
